In [6]:
import pandas as pd
import numpy as np
from datetime import date

# **Pengumpulan Data**

In [12]:
excel = pd.read_excel(
    "data_percobaan_lele_maggot.xlsx",
    sheet_name=["DATA PANJANG DAN LEBAR", "DATA BOBOT"],
)

excel["DATA BOBOT"].head()

  Identifier       Date  Width (cm)  Length (cm)
0         A1 2024-07-31         4.0         20.0
1         A1 2024-07-31         4.0         23.0
2         A1 2024-07-31         3.0         19.0
3         A1 2024-07-31         2.0         16.0
4         A2 2024-07-31         3.0         17.0