# **Analisis Data Percobaan Lele Maggot**

In [1]:
import pandas as pd
import numpy as np
from datetime import date

## Pengumpulan Data

In [2]:
excel = pd.read_excel(
    "https://github.com/nurfianqodar/analisis_data_lele/raw/main/data_percobaan_lele_maggot.xlsx",
    sheet_name=["DATA PANJANG DAN LEBAR", "DATA BOBOT"],
)

## Ringkasan Informasi Data

### Data Bobot Lele

In [3]:
df_bobot = excel["DATA BOBOT"]
df_bobot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Identifier     45 non-null     object
 1   Date           45 non-null     datetime64[ns]
 2   Weight (gram)  45 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.2+ KB

In [4]:
df_bobot["Weight (gram)"].describe()

count     45.000000
mean     246.444444
std       56.333244
min      120.000000
25%      210.000000
50%      250.000000
75%      290.000000
max      350.000000
Name: Weight (gram), dtype: float64

### Data Panjang dan Lebar Lele

In [5]:
df_pl = excel["DATA PANJANG DAN LEBAR"]
df_pl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Identifier   180 non-null    object
 1   Date         180 non-null    datetime64[ns]
 2   Width (cm)   180 non-null    float64
 3   Length (cm)  180 non-null    float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 5.8+ KB

In [6]:
df_pl[["Length (cm)", "Width (cm)"]].describe()

       Length (cm)  Width (cm)
count   180.000000  180.000000
mean     19.602778    2.836111
std       2.902848    0.613695
min      14.000000    2.000000
25%      17.000000    2.500000
50%      19.000000    3.000000
75%      21.000000    3.000000
max      29.000000    4.000000

## Cleaning Data

### Data Panjang dan Lebar Lele

#### Penambahan Index Repetition dan Teratment

In [7]:
def create_treatment_repetition(identifier):
    treatment = f"T{identifier[0]}"
    repetition = f"R{identifier[1]}"
    return treatment, repetition


df_bobot[["Treatment", "Repetition"]] = (
    df_bobot["Identifier"].apply(create_treatment_repetition).apply(pd.Series)
)

df_pl[["Treatment", "Repetition"]] = (
    df_pl["Identifier"].apply(create_treatment_repetition).apply(pd.Series)
)

In [8]:
df_bobot.tail()

   Identifier       Date  Weight (gram) Treatment Repetition
40         B5 2024-08-14            300        TB         R5
41         A2 2024-08-14            210        TA         R2
42         C4 2024-08-14            190        TC         R4
43         B2 2024-08-14            250        TB         R2
44         A5 2024-08-14            200        TA         R5

In [9]:
df_pl.tail()

    Identifier       Date  Width (cm)  Length (cm) Treatment Repetition
175         B2 2024-08-14         4.0         27.0        TB         R2
176         A5 2024-08-14         3.5         23.0        TA         R5
177         A5 2024-08-14         2.5         18.0        TA         R5
178         A5 2024-08-14         2.5         19.0        TA         R5
179         A5 2024-08-14         2.5         17.0        TA         R5

#### Pemisahan Data Panjang Lele

In [10]:
data_panjang = df_pl[["Identifier", "Date", "Treatment", "Repetition", "Length (cm)"]]
data_panjang.tail()

    Identifier       Date Treatment Repetition  Length (cm)
175         B2 2024-08-14        TB         R2         27.0
176         A5 2024-08-14        TA         R5         23.0
177         A5 2024-08-14        TA         R5         18.0
178         A5 2024-08-14        TA         R5         19.0
179         A5 2024-08-14        TA         R5         17.0

#### Pemisahan Data Lebar Lele

In [11]:
data_lebar = df_pl[["Identifier", "Date", "Treatment", "Repetition", "Width (cm)"]]
data_lebar.tail()

    Identifier       Date Treatment Repetition  Width (cm)
175         B2 2024-08-14        TB         R2         4.0
176         A5 2024-08-14        TA         R5         3.5
177         A5 2024-08-14        TA         R5         2.5
178         A5 2024-08-14        TA         R5         2.5
179         A5 2024-08-14        TA         R5         2.5

### Data Bobot Lele

In [12]:
data_bobot = df_bobot
data_bobot.tail()

   Identifier       Date  Weight (gram) Treatment Repetition
40         B5 2024-08-14            300        TB         R5
41         A2 2024-08-14            210        TA         R2
42         C4 2024-08-14            190        TC         R4
43         B2 2024-08-14            250        TB         R2
44         A5 2024-08-14            200        TA         R5

## Explorasi

### Eksplorasi Data Panjang Lele

In [19]:
data_panjang_by_repetition = data_panjang.groupby(["Treatment", "Repetition", "Date"])[
    "Length (cm)"
].mean()
data_panjang_by_repetition

Treatment  Repetition  Date
TA         R1          2024-07-31    19.500
                       2024-08-07    20.500
                       2024-08-14    21.000
           R2          2024-07-31    17.000
                       2024-08-07    19.625
                       2024-08-14    20.000
           R3          2024-07-31    18.750
                       2024-08-07    16.375
                       2024-08-14    17.000
           R4          2024-07-31    18.500
                       2024-08-07    18.125
                       2024-08-14    18.500
           R5          2024-07-31    18.250
                       2024-08-07    20.000
                       2024-08-14    19.250
TB         R1          2024-07-31    19.250
                       2024-08-07    22.125
                       2024-08-14    21.000
           R2          2024-07-31    19.750
                       2024-08-07    20.875
                       2024-08-14    20.750
           R3          2024-07-31    18.000
                       2024-08-07    18.875
                       2024-08-14    20.500
           R4          2024-07-31    18.250
                       2024-08-07    19.625
                       2024-08-14    21.500
           R5          2024-07-31    17.000
                       2024-08-07    18.500
                       2024-08-14    22.750
TC         R1          2024-07-31    18.750
                       2024-08-07    22.875
                       2024-08-14    20.750
           R2          2024-07-31    20.250
                       2024-08-07    18.000
                       2024-08-14    18.250
           R3          2024-07-31    21.000
                       2024-08-07    20.125
                       2024-08-14    21.000
           R4          2024-07-31    18.250
                       2024-08-07    22.625
                       2024-08-14    18.750
           R5          2024-07-31    20.000
                       2024-08-07    20.125
                       2024-08-14    20.250
Name: Length (cm), dtype: float64

## Eksplanasi